* {
  box-sizing: border-box;
}

body {
  background: #8a7777;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

.loader {
  margin: auto;
  display: inline-block;
  width: 80px;
  height: 80px;
}

.loader:after {
  content: " ";
  display: block;
  width: 80px;
  height: 80px;
  margin: 10px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: loader 2s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
